.wrap {}

.center {
	text-align: center;
}

.done {
	color: #00cccc;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 12px;
	max-height: 40vh;
	overflow-y: auto;
	padding-right: 8px;
}

.row {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 16px;
}

.cellLeft {
	display: flex;
	align-items: center;
	gap: 16px;
}

.icon {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	overflow: hidden;
	background: #131316;
	border: 2px solid #4c4cff;
	display: grid;
	place-items: center;
}

.icon img {
	width: 80%;
	height: 80%;
	object-fit: contain;
}

.cellRight {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.total {
	display: flex;
	gap: 8px;
	align-items: center;
}